* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #fff;
}

main {
	display: grid;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 20dvh 50px;
}

a {
	color: #fff;
	text-decoration: none;
}

.Navigation {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;

	nav {
		display: grid;
		align-content: center;
		justify-content: center;
		align-items: center;
		grid-template-columns: 1fr auto auto;
		grid-gap: 50px;
	}
}